* {
  direction: rtl;
}
#main {
  width: 80%;
}
#input {
  width: 100%;
}
#picker {
  border: 1px solid gray;
  width: 350px;
}
#body {
  display: flex;
  flex-wrap: wrap;
}

#dayNames {
  display: flex;
  flex-wrap: wrap;
  background: gray;
  color: white;
}
.day {
  width: 50px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
}
.day-void {
  width: 50px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.dayName {
  width: 50px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.day:hover {
  background: blue;
}
.active {
  background: red;
}
